.image{
    
    max-width: 150%;
    height: 250px;
    display: block;
    margin-left: auto; 
    margin-right: auto; 
   
  }


  /* about.css */



.card.work-desk:hover img.image {
  transform: scale(1.1);
}


  .section-title {
    margin-left: 0;
    text-align: center;
  }

